
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/teayudo2049/image/upload/v1631127364/index_-logo_cwwpjh.jpg);">
  <div class="container">
    <h1> <strong>Servicios disponibles</strong>!</h1>
  </div>
</div>
<br>

<div class="container justify-content-center">
  <%= form_tag services_path, method: :get do %>
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Encuentra un servicio "%>
    <%= submit_tag "Buscar", class: "btn btn-primary" %>
  <% end %>
  <br>
</div>


<div class="container">
  
    <div class="row">
    <% @services.each do |service| %>
      <div class="col-md-4">
        <% if current_user && service.user_id == current_user.id %>
        <% end%>
        <div class="card-product mt-4">
          <% if current_user && current_user.photo.attached? && current_user == service.user%>
            <%= cl_image_tag current_user.photo.key %>
          <% elsif service.user.photo.present? %>
            <%= cl_image_tag service.user.photo.key %>
          <% else %>
            <%= cl_image_tag("Marketing-de-Servicios-1_xgaiwu") %>
          <% end %>
          <div class="card-product-infos mt-4">
            <h2><strong><%= service.name %></strong></h2>
            <p><strong>$ <%= service.price %></strong></p>
            <p><strong>Reseñas (<%= service.reviews.size %>)</strong></p>
            <% service.average.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <% (5 - service.average).times do %>
              <i class="far fa-star"></i>
            <% end %>
            <%= link_to 'Detalle', service_path(service), class:"btn btn-primary btn btn-primary edit-btn mb-2"%>
          </div>
        </div>
      
      </div>
    <% end %>
    </div>
</div>

<hr class="mb-4">

<%= render 'shared/mini-footer' %>