
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/teayudo2049/image/upload/v1631127364/index_-logo_cwwpjh.jpg);">
  <div class="container">
    <h1> <strong>Mi Perfil</strong> </h1>
  </div>
</div>
<div class="container">

<div class="card-product mt-3 col-sm-12">
      <div class="col-sm-3"> 
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key %>
        <% else %>
          <%= cl_image_tag("https://images.unsplash.com/photo-1526297003708-f5a1c2c9c6e7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80") %>
        <% end %> 
      </div>
      <div class="card-product-infos col-sm-6">
        <h3>Mis Datos</h3> 
        <p><%= current_user.first_name %></p>
        <p><%= current_user.last_name %></p>
        <p><%= current_user.email %></p>
      </div>
    </div>



  <% @my_services.each do |service| %>
    <div class="card-product mt-3 col-sm-12">
      <div class="col-sm-3"> 
        <% if service.photo.attached? %>
          <%= cl_image_tag service.photo.key %>
        <% else %>
          <%= cl_image_tag("Marketing-de-Servicios-1_xgaiwu") %>
        <% end %> 
      </div>
      <div class="card-product-infos col-sm-6">
        <h2><%= service.name %></h2>
        <p><%= service.description %></p>
        <p><strong>$ <%= service.price %></strong></p> 
      </div>
      <div class="col-sm-3">
        <%= link_to 'Editar el servicio', edit_service_path(service), class:"btn btn-primary edit-btn mb-2"%>
        <%= link_to 'Dar de baja el servicio', service_path(service), method: :delete, data: { confirm: "Estas seguro de querer borrar este servicio?"}, class:"btn btn-primary delete-btn"%>
      </div>
    </div>
  <% end %>
</div>  
