<div class="container">
  <div class="row", style="margin-top: 100px;">
    <div class="col-sm-4">
      <% if @service.photo.attached? %>
        <%= cl_image_tag @service.photo.key, :width=> 200 %>
      <% else %>
        <%= cl_image_tag("Marketing-de-Servicios-1_xgaiwu") %>
      <% end %> 
    </div>

    <div class="col-sm-8">
      <h5 class="card-title"><%= @service.name%></h5>
      <h6 class="card-subtitle mb-2 text-muted">$<%= @service.price%></h6>
      <p class="card-text"><%= @service.description%></p>
      <h6 class="card-subtitle mb-2 text-muted">Reseñas (<%= @service.reviews.size%>)</h6>
      <h6 class="card-subtitle mb-2 text-muted">Contrataciones (<%= @service.bookings.size%>)</h6>
      <% if !@service.bookings.find_by(user: current_user).present? && @service.user != current_user %>
          <%= link_to 'Contratar', service_bookings_path(@service), method: :post %>
        <% elsif @service.bookings.find_by(user: current_user).present? && !@service.reviews.find_by(user: current_user, service: @service).present? %>
          <%= simple_form_for [@service, @review] do |f| %>
                <%= f.input :rating, collection: 1..5 %>
                <%= f.input :comment%>
                <%= f.submit class: 'btn btn-primary' %>
        <% end %>
      <% end %> 
        <% if current_user == @service.user %> 
          <%= link_to 'Eliminar', profile_path(@service), method: :delete %>
          <%= link_to 'Editar', edit_service_path(@service)%>  
        <% end %>
    </div>
  </div>
</div>

<br>


  <div class="container">
     <% @service.reviews.each do |review| %>
     <div class="bg-white p-3 mb-4">
       <div class="d-flex justify-content-between">
         <div class="d-flex">
           <div> 
             <i class="fas fa-user-circle h1"></i>
           </div>
           <div> 
             <p><%= review.user.email %>  </p>
             <p><%= review.created_at.strftime('%d/%m/%y - %H:%M')%></p>
            </div>
         </div>
         <div> 
            <% review.rating.times do %>
          <i class="fas fa-star"></i>
        <% end %>
        <% (5 - review.rating).times do %>
          <i class="far fa-star"></i>
        <% end %>

         </div>
       </div>
       <div> 
         <h5 class=""><%= review.comment%></h5>
       </div>
     </div>
     <% end %> 
  </div>

  <hr class="mb-4">

<%= render 'shared/mini-footer' %>