
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/teayudo2049/image/upload/v1632948666/banner_logo_2_mse9ja.jpg);">
</div>
<div class="container mt-5">
  <h2>Editar mi usuario:<% resource_name.to_s.humanize %></h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  label: "Ingrese su contraseña actual:",
                  required: false,
                  placeholder: 'solo para editar contraseña',
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  placeholder: 'solo para editar contraseña',
                  label: "Ingrese su nueva contraseña:",
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  label: "Confirme su nueva contraseña:",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :photo, as: :file,
                  required: true,
                  input_html: { class: ''},
                  label_html: { class: 'upload-photo'},
                  label: 'Selecciona una nueva foto de perfil' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Guardar", class:"btn btn-primary new-user-btn mb-2 mt-2" %> <%= link_to "Atrás", :back, class:"btn btn-primary new-user-btn mb-2 mt-2" %>
    </div>
  <% end %>
  
  <%= link_to "Dar de baja mi cuenta", registration_path(resource_name), class:"dar-de-baja", data: { confirm: "Estas seguro de querer dar de baja tu cuenta?" }, method: :delete %>
</div>

<hr class="mb-4">

<%= render 'shared/mini-footer' %>
