
<div class="container mt-5">
  <h2>Editar mi usuario:<% resource_name.to_s.humanize %></h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "Ingrese su contraseña actual",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                hint: "Ingrese su nueva contraseña",
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "Confirme su nueva contraseña",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Guardar los cambios" %>
  </div>
<% end %>

<p><%= link_to "Dar de baja mi cuenta", registration_path(resource_name), data: { confirm: "Estas seguro de querer dar de baja tu cuenta?" }, method: :delete %></p>

<%= link_to "Mi perfil", :back %>
</div>

<<<<<<< HEAD
<%= link_to "Back", :back %>

<hr class="mb-4">

<%= render 'shared/mini-footer' %>
=======
>>>>>>> master
