
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/teayudo2049/image/upload/v1632948666/banner_logo_2_mse9ja.jpg);">
</div>
<div class="container mt-5">
  <h2>Crea tu usuario:</h2>
</div>
<div class="container mt-4">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name,
                  label: "Nombre",
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Nombre" }%>
    <%= f.input :last_name,
                  label: "Apellidos",
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Apellidos" }%>
      <%= f.input :email,
                  label: "Email",
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Email" }%>
      <%= f.input :password,
                  label: "Contraseña",
                  required: true,
                  hint: ("Mínimo #{@minimum_password_length} caracteres" if @minimum_password_length),
                  input_html: { autocomplete: "nueva contraseña" } %>
      <%= f.input :password_confirmation,
                  label: "Confirmar la contraseña",
                  required: true,
                  input_html: { autocomplete: "nueva contraseña" } %>
      <%= f.input :photo, as: :file,
                  required: true,
                  input_html: { class: ''},
                  label_html: { class: 'subir imagen'},
                  label: 'Selecciona tu foto de perfil' %>

    </div>
  <%= f.button :submit, "Crea tu usuario!", class:"btn btn-primary new-user-btn mb-2 mt-3" %>

  <% end %>
</div>

<hr class="mb-4">

<%= render 'shared/mini-footer' %>
