<footer class="bg-dark text-white pt-5 pb-4">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Te Ayudo.cl</h5>
        <p>Somos tu apoyo en tus primeros pasos hacia la digitalización con un respaldo único, podrás expandir tu mercado dejando en nuestras manos la responsabilidad de potenciar tu marca y posicinar tu empresa a nivel global </p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">servicios</h5>
        <p><%= link_to 'Content creation', "#", :class=>"btn btn-link"%></p>
        <p><%= link_to 'Posicionamiento/Google', "#", :class=>"btn btn-link"%></p>
        <p><%= link_to 'Analisis/objetivo',"#", :class=>"btn btn-link"%></p>
        <p><%= link_to 'Social/Management',"#", :class=>"btn btn-link"%></p>
        <p><%= link_to 'Diseño/Grafico',"#", :class=>"btn btn-link"%></p>
        <p><%= link_to 'Website',"#", :class=>"btn btn-link"%></p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Accesos</h5>
        <p><%= link_to 'Login', new_user_session_path(@user), :class=>"btn btn-link"%></p>
        <p><%= link_to 'Tu Cuenta', "#", :class=>"btn btn-link"%></p>
        <p><%= link_to 'Reviews', "#", :class=>"btn btn-link"%></p>
        <p><%= link_to 'Our Team', "#", :class=>"btn btn-link"%></p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contacto</h5>
        <p><i class="fas fa-home mr-3"></i>Av.Green 701,Las Condes.CL</p>
        <p><i class="fas fa-envelope mr-3"></i>contact@teayudo.cl</p>
        <p><i class="fas fa-mobile-alt mr-3"></i>+569-76555443</p>
        <p><i class="fas fa-phone mr-3"></i>+562-22233214</p>
      </div>
    </div>
    <hr class="mb-4">
    <div class="row align-items-center">
      <div class="col-md-7 col-log-8">
        <p> Copyright All rights reserved by:
          <a href="#"><strong class="text-warning">Te ayudo</strong></a>
        </p>
      </div>

      <div class="col-md-5 col-lg-4">
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="#" class="btn-floating btn-sm text-white"><i class="fab fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="btn-floating btn-sm text-white"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="btn-floating btn-sm text-white"><i class="fab fa-linkedin"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="btn-floating btn-sm text-white"><i class="fab fa-twitter"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
